.about {
    background-color: rgba(239, 252, 244, 100%);
    width: auto;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about__h2 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.about__h2::before {
    content: "";
    width: 7px;
    height: 60px;
    background-color: black;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about__p {
    grid-area: 2 / 2 / 3 / 3;
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    margin: 20px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
}

.about__p::after {
    content: "";
    min-width: 100%;
    margin-right: 0;
    margin-top: 15px;
    height: 7px;
    background-color: black;
}

@media (max-width: 600px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
        height: 100px;
        grid-template-rows: 1fr 1fr;
    }

    .about__h2 {
        display: inline-block;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 50px;
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        max-height: 100px;
    }

    .about__p {
        grid-area: 2 / 1 / 2 / 2;
        font-family: "Inknut Antiqua", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        margin: 20px;
        letter-spacing: 3px;
        display: flex;
        flex-direction: column;
    }
}