.contact {
    display: inline-block;
    color: white;
    background-color: rgb(80, 115, 80);
    width: 100%;
    height: auto;
}

.contact__h2 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.contact__h2::before {
    content: "";
    width: 7px;
    height: 60px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact__ul {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0px 50px;
    align-items: left;
    justify-content: center;
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border: 2px solid black;
}

.contact__li {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 4px;
    font-style: normal;
    list-style: none;
    color:black;
    text-decoration: none;
    word-wrap: break-word;
}

.contact__map {
    width: 100%;
}